<ion-content class="ion-padding">
   
  <div class="main-content" style="display: grid; place-content: center; height: 100%;">
    <div class="u-wrapper u-wrapper-content">
      <div class="not-found-background" style="display: grid; place-content: center;">
        <div class="not-found-container">
          <div class="not-found-box">
            <h2>404</h2>
            <p>{{ 'home.page_not_found' | translate }}</p>
          </div>
        </div>
      </div>
    </div>
  </div> 
</ion-content>