atheneaform {
  --atheneaform-max-height: 85vh;
  --ion-color-primary-contrast: white !important;
  --background: white;
}

.max-form {
  max-height: 100%;
  overflow: hidden;
}

.form-wrapper {
  height: 100%;
  padding: 0 0 2rem 0;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}