
                <div class="hdom-card-wrap">

                    <h2 class="text-center mb-2"> SCAN HARDCODED</h2>

                    <ng-container>
                        <div>
                            <p class="custom-label bold text-center">
                                <ng-container>
                                    {{'emc.hdom.scan.start_manually' | translate}}
                                </ng-container>
                            </p>

                            <div class="value-register-cards-container list">

                                <app-thermometer-result
                                    [setValueAndUnlock]=""
                                    [value]="">
                                </app-thermometer-result>

                                <app-scale-result
                                    [setValueAndUnlock]=""
                                    [value]="">
                                </app-scale-result>

                                <app-respiratory-rate-result
                                    [setValueAndUnlock]=""
                                    [value]="">
                                </app-respiratory-rate-result>

                                <app-blood-pressure-result
                                    [setValueAndUnlock]=""
                                    [value]="">
                                </app-blood-pressure-result>

                                <app-heart-rate-result
                                    [setValueAndUnlock]=""
                                    [value]="">
                                </app-heart-rate-result>

                                <app-blood-glucose-result
                                    [setValueAndUnlock]=""
                                    [value]="">
                                </app-blood-glucose-result>

                            </div>
                            <ion-button [disabled]="loading"
                                class="mt-1 round center" expand="block" (click)="setInput()">
                                general.register HARDCODED 
                            </ion-button>
                        </div>
                    </ng-container>
                </div>