<app-header [hospital]="userService.lastPatientHospital!"></app-header>
<ion-content>
  <div class="u-wrapper u-wrapper-content">
    <app-breadcrumbs [breadcrumbs]="[{locale: 'list_forms.list'}]"></app-breadcrumbs>
    @if (!loading) {
      <ion-list class="ion-padding">
        <ion-item  *ngFor="let form of forms; let i = index" class="recuadro" (click)="obrirTypeform(form)">
          <ion-icon name="reader-outline" slot="start"></ion-icon>
          <ion-label>{{form.title}}</ion-label>
          <span *ngIf="hasResponses(form.id!)" style="color: green;">{{ 'list_forms.completed' | translate }}</span>
          <span *ngIf="!hasResponses(form.id!)" style="color: orange;">{{ 'list_forms.pending' | translate }} ( {{ form.time ?? 0 }} min )</span>   
        </ion-item>
      </ion-list>
    }@else {
      <div class="justify-center">
        <ion-spinner name="dots" class="m-2"></ion-spinner>        
      </div>
    }
  </div>
</ion-content>
