ion-col {
    align-items: center;
    justify-content: center;
    display: flex;
}

.form {
    height: 80%;
    display: flex;
    width: 900px;
    margin: auto;
    margin-top: 1rem;
}

iframe {
    width: 700px;
    height: 500px;
}
