<div class="hdom-card-wrap">
  <h2 class="text-center mb-2">{{'emc.hdom.glucometer.usage' | translate}}</h2>
  <swiper #swiper [config]="config" (slideChange)="onSlideChange()" [spaceBetween]="20">
    <ng-template swiperSlide>
      <ion-row>
        <img src="../../../../../assets/img/hdom/hdom-glucometer-usage-1.png">
      </ion-row>
      <p [innerHtml]="'emc.hdom.glucometer.instructions_1' | translate"></p>
    </ng-template>
    <ng-template swiperSlide>
      <ion-row>
        <img src="../../../../../assets/img/hdom/hdom-glucometer-usage-2.png">
      </ion-row>
      <p [innerHtml]="'emc.hdom.glucometer.instructions_2' | translate"></p>
    </ng-template>
    <ng-template swiperSlide>
      <ion-row>
        <img src="../../../../../assets/img/hdom/hdom-glucometer-usage-3.png">
      </ion-row>
      <p [innerHtml]="'emc.hdom.glucometer.instructions_3' | translate"></p>
    </ng-template>
    <ng-template swiperSlide>
      <ion-row>
        <img src="../../../../../assets/img/hdom/hdom-glucometer-usage-4.png">
      </ion-row>
      <p [innerHtml]="'emc.hdom.glucometer.instructions_4' | translate"></p>
    </ng-template>
    <ng-template swiperSlide>
      <ion-row>
        <img src="../../../../../assets/img/hdom/hdom-glucometer-usage-5.png">
      </ion-row>
      <p [innerHtml]="'emc.hdom.glucometer.instructions_5' | translate"></p>
    </ng-template>
  </swiper>

  <ion-row class="mb-3 mb-1d5-sm jc-space-between">
    <ion-button class="round m-0" (click)="slidePrevious()" expand="block" [disabled]="isStart" color="light">
      <ion-icon name="chevron-back-outline"></ion-icon>
      <span class="hide-sm">&nbsp;{{'general.previous' | translate}}</span>
    </ion-button>
    <ion-button class="round m-0" (click)="slideNext()" expand="block" [disabled]="isEnd">
      <span class="hide-sm">{{'general.next' | translate}}&nbsp;</span>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-button>
  </ion-row>

  <app-hdom-device-conn-box (refresh)="init()"></app-hdom-device-conn-box>

  <ion-button class="center round mt-1" expand="block" (click)="navForward(hdom?.TASKS_TYPE?.GLUCOMETER, true)" color="light">
    {{'emc.hdom.register_manual' | translate}}
  </ion-button>
  <div class="mt-2 mb-1 text-center">
    <a (click)="navHdom()"><u>{{'general.go_init' | translate}}</u></a>
  </div>
</div>