$c-white: #fff;
$c-black: #000;

$c-neutro200: #f5f7fa;
$c-neutro300: #ebf0f5;
$c-neutro400: #d9e2ed;
$c-neutro500: #8299b1;
$c-neutro600: #486481;
$c-neutro700: #243b53;
$c-neutro800: #102a43;

$c-primary300: #e4f7ee;
$c-primary400: #c5f7e2;
$c-primary500: #147d64;
$c-primary600: #096452;
$c-primary700: #014d40;

$c-accent300: #fff3c4;
$c-accent400: #fce588;
$c-accent500: #fadb5f;
$c-accent600: #f7c948;
$c-accent700: #f0b429;

$c-error: #c02;
$c-errorLight: #ffebeb;
$c-success: $c-primary500;

$colors: (
    ('accent300', $c-accent300),
    ('primary500', $c-primary500),
    ('primary600', $c-primary600),
    ('neutro200', $c-neutro200),
    ('neutro300', $c-neutro300),
    ('neutro500', $c-neutro500),
    ('neutro600', $c-neutro600),
    ('neutro800', $c-neutro800),
    ('white', $c-white),
);
